
.formNovaEntrada{
	display: none;
}
.formNovaEntrada textarea{
    width: 99.5%;
}
#mostrarEntrada{
	display: none;
}

.invalido{
	border-style: solid;
	border-color: red;
}

#linhaMaterial td button{
	cursor: not-allowed;
}

