
.material{
	box-shadow: 10px 10px 5px #888888;
    background-color: #cccccc; 
	width:305px;
	height:100px;
	float: left;
	margin: 10px;
    white-space: nowrap;
    overflow: hidden;
}

.vencido{
	box-shadow: 10px 10px 5px #F00;	
}

.material h4{
    font-size: 18px;
}

.material span{
	display: flex;
	font-size: small;
}
.material label{
	display: block;
	font-size: small;
}

.material img{
	padding-right:10px;
	float: left;
    width: 100px;
}

.formNovoMaterial{
	display:none;
	position:absolute;
	top:10%;
	left:auto;
	padding:10px;
	border:1px solid #d0d0d0;
	background-color:#ccc;
}
